<%- include('partials/header.ejs'); -%>

    <h1>Login</h1>

    <form id="login-form">
        <input type="text" name="username" placeholder="Username" required />
        <button type="submit">Login</button>
    </form>

    <div id="error"></div>

    <%- include('partials/scripts.ejs'); -%>
    <%- include('partials/footer.ejs'); -%>